Source: ros-indigo-ypspur
Section: misc
Priority: extra
Maintainer: Daiki Maekawa <d.maekawa@rapyuta-robotics.com>
Build-Depends: debhelper (>= 9.0.0), automake, cmake, git-core, libltdl-dev, libtool
Homepage: https://openspur.org/redmine/projects/ypspur
Standards-Version: 3.9.2

Package: ros-indigo-ypspur
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-catkin
Description: YamabicoProject-Spur (YP-Spur) is A is developed with Intelligent Robot Laboratory based on SH-Spur.
